@keyframes fadeIn {
  from { opacity: 0;transform: scale(0.98) }
  to { opacity: 1;transform: scale(1) }
}

html, body {
  min-height: 100%;
}

::selection {
  color: white;
  background: #fbcf16;
}

html {
  animation: fadeIn 0.4s ease-out;
  font-family: "IBM Plex Sans";
  font-weight: 300;
  /* text-align: justify; */
}

body {
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-container {
  max-width: 850px;
}

.header-link { border-bottom: none; }

.header-image {
  width: 188px;
  height: auto;
}

.page-header {
  flex-direction: column;
  align-items: flex-start;
}

.page-title {
  font: 48px "IBM Plex Sans";
  text-align: left;
  font-weight: 500;
  padding-top: 19px;
  margin-bottom: 0;
  line-height: 1;
  display: inline-flex;
}

.noun-type, .zine-pronounce {
  display: inline;
}

.noun-type {
  margin-top: 8px;
  font-size: 35px;
  color: #26bbb2;
  display: inline-flex;
}

.zine-pronounce {
  cursor: help;
}

.zine-pronounce i {
  font-size: 16px;
  color: #b1b1b1;
}

.profiles, .body-text p, .body-text li {
  font: 30px "IBM Plex Sans";
  font-weight: 300;
  /* padding-left:175px; */
  /* padding-right: 20px; */
  /* text-align: justify; */
}

.fellowship-text p, .fellowship-text li {
  font: 20px "IBM Plex Sans";
  font-weight: 300;
}

.subnote {
  font-style: italic;
  color: gray;
}


.profiles ul {
  padding: 0;
  margin: 0;
  display: block;
  flex-direction: row;
  line-height: 50px;
}

.profiles ul li {
  display: flex;
  width: 100%;
}

.profiles ul li a {
  font-weight: 500;
}

.profiles ul li:not(:last-child)::after {
  content: " + "
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:focus {
  color: #26bbb2;
  border-bottom-color: #26bbb2;
}

a:active {
  color: hsla(176, 66%, 44%, 0.3);
  border-bottom-color: hsla(176, 66%, 44%, 0.3);
}

.hero {
  color: white;
  background-color: hsl(176, 66%, 44%);
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  padding: 2px 11px;
  border: none;
}

.hero:hover, .hero:focus {
  color: white;
}

.hero:active {
  color: white;
  background-color: hsla(176, 66%, 44%, 0.3);
}

.hero i::before {
  font-size: 32px;
}

@media (max-width: 850px) {

  .about-zines, .profiles {
    font-size: 18px;
    padding: 0;
  }
  .page-header {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .noun-type {
    font-size: 24px;
    padding-left: 6px;
  }
  .page-title {
    font-size: 45px;
    text-align: left;
  }
  .page-title::after {
    top: -5px;
  }
  .body-container {
    margin: 10vh 0;
    /* padding: 10px; */
    max-width: 275px;
  }
  .nav-list {
    margin: 5px 0 25px;
  }
  .nav-list li {
    border-bottom: 1px solid black;
  }
  .profiles ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .profiles ul li a {
    width: 100%;
    text-align: center;
  }
  .profiles ul li:not(:last-child)::after {
    content: none;
  }
  .hero {
    font-size: 26px;
    display: block;
    margin-bottom: 8px;
  }
}
